{% extends "divide_card_abstract.html" %}
{% block replace_tab_3 %}active{% endblock %}

{% block styles %}
    {{ super() }}
    <style type="text/css">
        a {
            text-decoration:none
        }
    </style>
{% endblock %}

{% block tab %}
    <div class=" page-header">
        <h1 style="font-weight: bold">我的留言</h1>
    </div>
    <div class="row">
        <div class="col-lg-8">
            <div class="form-group"></div>
        {% if not posts %}
            <h1>还没有评论过欸~</h1>
        {% else %}
            {% include "_posts.html" %}
        {% endif %}
        </div>
    </div>

{% endblock %}
