<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>Yumira|社区</title>
    <link rel="stylesheet" href="/static/css/navbar.css">
    <link rel="stylesheet" href="static/css/pool.css">
</head>
<body>
    {% include "navbarUI.html" %}
    <section class="pool">
    <header>
        <div class="text">
        {% if current_user.is_authenticated %}
            <div class="col-lg-2"> <img class="img-responsive" src="{{ current_user.gravatar(126) }}"></div>
            <h2 style="font-weight: bold">你好,{{ current_user.username }}</h2>
        {% else %}
            <h2>你好，陌生人</h2>
        {% endif %}
        </div>
    </header>
    </section>
</body>
</html>