@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  /*position: absolute;*/
  min-height: 100vh;
  top:0;
  left: 0;
  display: flex;
  background: #1b1;
}

.relative{
  position: relative;
}
.wrapper{
    max-width: 100%;
    position: relative;
    top: 130px;
    display: flex;
   padding-left: 100px;
   left: 10px;
      z-index: 0;

}

.navigation {
  display: flex;
   position: absolute;
  /*position: relative;*/
  top: 20px;
  left: 100px;
  bottom: 20px;
  width: 70px;
  border-radius: 10px;
  box-sizing: initial;
  border-left: 5px solid #1b1b1b;
  background: #4d5bf9;
  transition: width 0.5s;
  overflow-x: hidden;
  /*z-index: 2;*/

}
.navigation.active{
  width: 300px;
}
.navigation ul {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-left: 5px;
  padding-top: 40px;
}

.navigation ul li{
  position: relative;
  list-style: none;
  width: 100%;
  /* 设置选中框圆角 */
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;

}

.navigation ul li.active{
  background: #fff;
}

.navigation ul li b:nth-child(1){
  position: absolute;
  top: -20px;
  height: 20px;
  width: 100%;
  background: #fff;
  display: none;
}

.navigation ul li b:nth-child(1)::before{
  content: '';
  position: absolute;
  top: 0;
  /*height: 0;*/
  /* 通过百分比，就可以在menu变宽的时候，也有效 */
  /* 妙哉 */
  width: 100%;
  height: 100%;
  border-bottom-right-radius: 20px;
  background: #4d5bf9;
}


.navigation ul li b:nth-child(2){
  position: absolute;
  bottom  : -20px;
  height: 20px;
  width: 100%;
  background: #fff;
  display: none;
}

.navigation ul li b:nth-child(2)::before{
  content: '';
  position: absolute;
  top: 0;
  /*height: 0;*/
  /* 通过百分比，就可以在menu变宽的时候，也有效 */
  /* 妙哉 */
  width: 100%;
  height: 100%;
  /*background: #fff;*/
  border-top-right-radius: 20px;
  background: #4d5bf9;
}

/* 美化边缘 */
.navigation ul li.active b:nth-child(1),
.navigation ul li.active b:nth-child(2){
  display: block;
}



.navigation ul li a{
  position: relative;
  display: block;
  width: 100%;
  display: flex;
  text-decoration: none;
  color: #fff;

}

/* 被选中时，字体颜色设为黑色 */
.navigation ul li.active a{
  color: #333;
}


.navigation ul li a .icon{
  position: relative;
  display: block;
  min-width: 60px;
  height: 60px;
  line-height: 70px;
  text-align: center;
}

.navigation ul li a .icon ion-icon{
  font-size: 1.5em;
}

.navigation ul li a .title{
  position: relative;
  display: block;
  padding-left: 10px;
  height: 60px;
  line-height: 60px;
  white-space: normal;

}

/* 切换菜单 */
.toggle{
  position: fixed;
  /*通过这个位移*/
  bottom: 100px;
  right: 100px;
  width: 50px;
  height: 50px;
  height: 50px;
  background: #4d5bf9;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.toggle.active {
  background: #ff4d89;
}

.toggle ion-icon{
  position: absolute;
  color: #fff;
  font-size: 34px;
  display: none;

}
/* 默认为menu菜单 */
.toggle.active ion-icon.close,
.toggle ion-icon.open{
  display: block;
}

.toggle ion-icon.close,
.toggle.active ion-icon.open{
  display: none;
}

.main-content{
  position: absolute;
  /*min-width: 1250px;*/
  /*width: 100%;*/
  padding: 20px 20px;
  display: flex;
  /*left: 0;*/
  top:20px;
  height: 100%;
  background: #0f3a42;
  z-index: -1;
}