<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/css/flash.css">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
</head>
<body>
    <div class="alert show">
        <span class="fa fa-exclamation-circle"></span>
        <span class="msg">Waring:111111111</span>
        <span class="close-btn">
            <span class="fa fa-times"></span>
        </span>
    </div>

</body>
</html>