body{
    margin: 0;
    padding: 0;

    box-sizing: border-box;
    overflow: hidden;
    font-family: 'Poppins', sans-serif;

}

.showcase {
    position: relative;
    right: 0;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #111;
    color: #fff;
    z-index: 2;
}

.showcase header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.toggle{
    position: relative;
    width: 60px;
    height: 60px;
    background-size: 30px;
    background-position: center;
    cursor: pointer;
}

.logo{
    text-transform: uppercase;
    cursor: pointer;
}
.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #626262;
    mix-blend-mode: multiply;
}
.text{
    position: relative;
    z-index: 10;
}

.text h2{
    font-size: 5em;
    font-weight: 800;
    line-height: 1em;
    text-transform: uppercase;
}


.text h3{
    font-size: 4em;
    font-weight: 700;
    line-height: 1em;
    text-transform: uppercase;
}

.text h4{
    font-size: 2em;
    font-weight: 500;
    line-height: 1em;
    text-transform: uppercase;
}


.text p{
    font-size: 1.1em;
    margin: 20px 0;
    font-weight: 400;
    max-width: 700px;
}
.yellow{
    color: #f8f809;
}
.text a.yellow{
    border-radius: 1px;
    border: 1px solid #f8f809;
    background: none;
    color: #f8f809;
}

.text a.yellow:hover{
    background: #f8f809;
    color: #1b1b1b;
    font-weight: bold;
}

.text a{
    border: 2px solid #fff;
    display: inline-block;
    font-size: 1em;
    background: #fff;
    padding: 10px 30px;
    text-decoration: none;
    color: #111;
    margin-top: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.2s ease;
}

.text a:hover{
       border: 2px solid #f8f809;
    background-color: #f8f809;
    color: #111111;
    font-weight: bold;
    letter-spacing: 6px;
}

.social {
    position: absolute;
    bottom: 20px;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social li {
    list-style: none;
}
.social li a{
    display: inline-block;
    filter: invert(1);
    margin-right: 20px;
    transform: scale(0.5);
    transition: 0.5s;
}

.social li a:hover{

}

@media (max-width: 991px){
    .showcase,
    .showcase header{
        padding: 40px;
    }
    .text h2{
        font-size: 3em;
    }
    .text h3 {
        font-size: 2em;
    }

}