/**{*/
/*    margin: 0;*/
/*    padding: 0;*/
/*    box-sizing: border-box;*/
/*}*/

footer{
    position: relative;
    /*margin-top: -250px;*/
    left: 0;
    bottom: 0;
    height: 250px;
    width: 100%;
}
footer ul{
    list-style: none;
}
footer .container {
    max-width: 1170px;
    /*background-color: red;*/
    margin: auto;
}

footer .row{
    display: flex;
    flex-wrap: wrap;
}
.footer {
    background-color: #24262b;
    padding: 70px 0px;
}
.footer-col{
    width: 33%;
    padding: 0 20px;
}
.footer-col h4{
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 30px;
    position: relative;
}

.footer-col h4::before{
    content: '';
    position: absolute;
    left:0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col ul:not(:last-child){
    margin-bottom: 10px;
}
.footer-col ul li a{
    font-size: 16px;
    text-decoration: none;
    color:#bbbbbb;
    display: block;
    transition: all 0.3s ease;
}
.footer-col ul li a:hover{
    color:#ffffff;
    padding-left: 15px;
}
