:root{
    --gradient:linear-gradient(
    45deg,
    #845ec2,
    #d65db1,
    #ff6f91,
    #ff9671,
    #ffc75f,
    #f9f871
    );
}

.btn-gradient{
    color: #f0f0f0;
    font-weight: normal;
    background-image: var(--gradient);
    background-size: 400%;
    animation: bg-animation 5s infinite alternate;
    transition: padding-left 0.3s ease;
    outline: 0;
}
.btn-gradient:hover{
                color: #f0f0f0;
    border-color: #ffc75f;
     -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
      outline: 0;
    padding-left: 30px;
      box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
.btn-gradient:active{
    color: #f0f0f0;
    font-weight: normal;
    background-image: var(--gradient);
    background-size: 400%;
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
      outline: 0;
      box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);

}
.btn-gradient:focus{
    color: #f0f0f0;
    border-color: #ffc75f;
}

@keyframes bg-animation {
    0% {
        background-position: left
    }
    100% {
        background-position: right;
    }
}



.padding-left{
    color: #24262b;
    font-weight: 400;
    text-decoration: none;
    transition: all 0.3s ease;

}
.padding-left:hover{
    text-decoration: none;
    padding-left:15px;
}