<!DOCTYPE html>
<html lang="zh" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>笔记</title>
    <link rel="stylesheet" href="/static/css/navbar.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <link rel="stylesheet" href="static/css/search_style.css">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">


</head>
<body>
    {% include "navbarUI.html" %}
    <header>
        <div class="text">
            <h2>搜索</h2>
            <h3>搜索你的笔记</h3>
        </div>
    </header>
    {% block searchblock %}
    <div class="content">
    <div class="wrapper">
        <div class="search-input">
            <input type="text" placeholder="Type to search..." id="input_box">
            <div class="autocom-box">
                <p id="datalist"></p>
                <li>aaaawwa</li>

            </div>
            <div class="icon"><i class="fa fa-search" aria-hidden="true"></i></div>
        </div>
    </div>
    <!-- <div id="datalist"></div> -->
    <script src="static/js/SearchSuggestions.js" type="text/javascript"></script>
    {% endblock %}
    <div class="showtable">
         <table class="content-table">
            <thead>
                <tr>
                    <th>编号</th>
                    <th>标题 </th>
                    <th>作者</th>
                    <th>创建日期</th>
                </tr>
            </thead>
            <tbody>
                {% for article in articles %}
                <tr>
                    <th>{{  loop.index }}</th>
                    <th>
                        {{ article.title }}
                    </th>
                    <th>
                       {{ article.author.username }}
                    </th>
                    <th>{{ article.create_date }}</th>
                {% endfor %}
            </tbody>
        </table>
    </div>

    </div>
  </body>


</html>
