//
// Created by Administrator on 2021/3/16.
//
#include &lt;iostream&gt;
#include &lt;iomanip&gt;
#include "RBTree.h"

using namespace std;

RBTreeNode* nil= nullptr;

void RBTree::display() {cout&lt;&lt;"\nTranversal Order:"&lt;&lt;endl;display(root);}
RBTree::RBTree(){
    nil = new RBTreeNode{-1, nullptr, nullptr, nullptr, BLACK};
    root=nil;
}
RBTreeNode::RBTreeNode(Type val):key(val),color(RED),left(nil),right(nil),parent(nil){}
inline void RBTree::display(RBTreeNode *p) {
    if(p==nil) return;
    display(p-&gt;left);
    cout&lt;&lt;p-&gt;key&lt;&lt;setw(5);
    display(p-&gt;right);
}
RBTreeNode* RBTree::RBTreeSearch(RBTreeNode* p,Type val){
    auto z=nil;
    while(p) {
        if (p-&gt;key &lt; val) {
            p=p-&gt;right;
        } else if(p-&gt;key==val){
            return p;
        } else p=p-&gt;left;
    }
    return z;
}
void RBTree::Delete(Type val){
    RBTreeNode* z=RBTreeSearch(root,val);
    if(z!=nil) Delete(z);
    else cout&lt;&lt;"\nThe "&lt;&lt;val&lt;&lt;" is not in RedBlackTree.";
};


void RBTree::left_Rotate(RBTreeNode* x) {
    //x的right顶替x的位置，x变为其原来left的位置,x的右孩子域变为原先right(y)的左孩子，x成为y(其right)的左孩子
    auto y=x-&gt;right;
     x-&gt;right=y-&gt;left;
    if(y-&gt;left!=nil)
        y-&gt;left-&gt;parent=x;//设置左孩子域，现在它接到x孩子之下了
    y-&gt;parent=x-&gt;parent;
    if(x-&gt;parent==nil){
        root=y;
    }//y顶替x后，重新链接parent域
    else if(x==x-&gt;parent-&gt;left){
        x-&gt;parent-&gt;left=y;
    }else{
        x-&gt;parent-&gt;right=y;
    }
    y-&gt;left=x;
    x-&gt;parent=y;
}
void RBTree::right_Rotate(RBTreeNode* x) {
    //y(x的left)顶替x的位置，x变为其原来right(x-&gt;right)的位置,x的左孩子域变为原先left(y)的右孩子，x成为y(其left)的右孩子
    auto y=x-&gt;left;
    x-&gt;left=y-&gt;right;
    if(y-&gt;right!=nil)
        y-&gt;right-&gt;parent=x;
    y-&gt;parent=x-&gt;parent;
    if(x-&gt;parent==nil){
        root=y;
    }else if(x==x-&gt;parent-&gt;left){
        x-&gt;parent-&gt;left=y;
    }else{
        x-&gt;parent-&gt;right=y;
    }
    y-&gt;right=x;
    x-&gt;parent=y;
}

//insert
void RBTree::insert(RBTreeNode* z) {
    //先将z视为普通节点，像AVL树那样插入
    auto y=nil;
    //x表明当前路径上的节点
    auto x=root;
    while(x!=nil){
        y=x;
        if(x-&gt;key&gt;z-&gt;key){
            x=x-&gt;left;
        }else{
            x=x-&gt;right;
        }
    }
    z-&gt;parent=y;
    //x到叶子了，z插入到y的孩子
    if(y==nil) root=z;//树空
    else if(z-&gt;key&lt;y-&gt;key){
        y-&gt;left=z;
    } else{
        y-&gt;right=z;
    }
    z-&gt;left=nil;
    z-&gt;right=nil;
    z-&gt;color=RED;
    //cout&lt;&lt;z-&gt;key;
    //cout&lt;&lt;"zparent"&lt;&lt;z-&gt;parent-&gt;key&lt;&lt;endl;
    INSERT_FIXUP(z);
    cout&lt;&lt;z-&gt;key&lt;&lt;" has inserted.\n";
}

void RBTree::insert(int val) {
    auto z=new RBTreeNode(val);
    insert(z);
}

//INSERT_FIXUP
void RBTree::INSERT_FIXUP(RBTreeNode* z) {
    /*
     * 待插的z是一个红节点
     * 如果z的父亲是黑色节点，可以直接插入。但红红节点不能相邻
     * 如果要进入while,那么z.p是红色，知z.p一定不是根节点，那么z.p.p一定存在且z.p.p.color=BLACK,既然z.p为z.p.p的孩子，
     * 那么z.p.p一定不是叶节点。但他却是黑色，说明z.p.p满孩子，而不得不被染成黑色。因此，z的叔节点一定存在
    */RBTreeNode* y=nil;
    while(z-&gt;parent-&gt;color==RED){
        if(z-&gt;parent==z-&gt;parent-&gt;parent-&gt;left){
            //cout&lt;&lt;"父节点是左孩子"&lt;&lt;endl;
            y=z-&gt;parent-&gt;parent-&gt;right;
            if(y-&gt;color==RED){
                //cout&lt;&lt;"case a1:"&lt;&lt;endl;
                //case a1: z的叔节点y是红色的
                //从z.p的兄弟为红得知，z.p.p为黑，那么将这个黑色转移到其两侧的孩子，也可以继续保持bh一致
                z-&gt;parent-&gt;color=BLACK;
                y-&gt;color=BLACK;
                z-&gt;parent-&gt;parent-&gt;color=RED;
                z=z-&gt;parent-&gt;parent;
                //需要回溯调整
            }
            //if(y-&gt;color==BLACK)
            else if(z==z-&gt;parent-&gt;right){
                //case a2，可转化为case 3
                //cout&lt;&lt;"case a2:";
                z=z-&gt;parent;
                left_Rotate(z);
            }
            else{
                //case 3
                //对现在的z.p.p进行右旋
                z-&gt;parent-&gt;color=BLACK;//右旋后他被提升一层。必须画图理解
                z-&gt;parent-&gt;parent-&gt;color=RED;
                right_Rotate(z-&gt;parent-&gt;parent);
            }
            //无需回溯，这为调整终止情况
        }else{
         //z-&gt;parent==z-&gt;parent-&gt;parent-&gt;right
            //cout&lt;&lt;"父节点是右孩子"&lt;&lt;endl;
            y=z-&gt;parent-&gt;parent-&gt;left;
            if(y-&gt;color==RED){
                //cout&lt;&lt;"case b1:"&lt;&lt;endl;
                //case b1: z的叔节点y是红色的
                //从z.p的兄弟为红得知，z.p.p为黑，那么将这个黑色转移到其两侧的孩子，也可以继续保持bh一致
                z-&gt;parent-&gt;color=BLACK;
                y-&gt;color=BLACK;
                z-&gt;parent-&gt;parent-&gt;color=RED;
                z=z-&gt;parent-&gt;parent;
                //需要回溯调整
            }
            //if(y-&gt;color==BLACK)
            //case b2，可转化为case 3
            else if(z==z-&gt;parent-&gt;left){
                //cout&lt;&lt;"case b2:";
                z=z-&gt;parent;
                right_Rotate(z);
            }else{
                //case b3
                //对现在的z.p.p进行右旋
                z-&gt;parent-&gt;color=BLACK;//右旋后他被提升一层。必须画图理解
                z-&gt;parent-&gt;parent-&gt;color=RED;
                left_Rotate(z-&gt;parent-&gt;parent);
            }
        }

    }
    root-&gt;color=BLACK;
    //处理插入新节点，或者退出情况1的情形
}
RBTreeNode* RBTree::MIN_ELEMENT(RBTreeNode *z) {
    while(z-&gt;left){
        z=z-&gt;left;
    }
    return z;
}
void RBTree::RBTree_Transplant(RBTreeNode *u, RBTreeNode *v) {
    if(u-&gt;parent==nil) root=v;
    if(u==u-&gt;parent-&gt;left)u-&gt;parent-&gt;left=v;
    else  u-&gt;parent-&gt;right=v;
    v-&gt;parent=u-&gt;parent;
}
void RBTree::Delete(RBTreeNode* z) {
    //y总指向被替代的那个节点,x指向替代y的那个节点
    auto y=z;
    RBTreeNode* x= nullptr;
    Color y_Origin_Color=y-&gt;color;
    if(z-&gt;left==nil){
        //用z的右子树顶替
        x=z-&gt;right;
        RBTree_Transplant(z,z-&gt;right);
    }else if(z-&gt;right==nil){
        x=z-&gt;left;
        RBTree_Transplant(z,z-&gt;left);
    }else{
        //z有满孩子
        y=MIN_ELEMENT(z-&gt;right);
        y_Origin_Color=y-&gt;color;
        x=y-&gt;right;
        if(y-&gt;parent==z){
            //那么y就为z的直系右孩子，且一定没有左孩子。不需要被顶替，直接将y连同其子树顶替z
            x-&gt;parent=y;
        }else{
            RBTree_Transplant(y,y-&gt;right);
            y-&gt;right=z-&gt;right;
            //将z-&gt;right父亲链接到y
            y-&gt;right-&gt;parent=y;
        }
        //用y顶替z
        RBTree_Transplant(z,y);
        y-&gt;left=z-&gt;left;
        y-&gt;left-&gt;parent=z;
        y-&gt;color=z-&gt;color;
    }
    //非常一绝的思想，将y的BLACK属性下推给x，现在x为红黑或双重黑色节点。想办法将这种非黑非红的颜色甩出去
    if(y_Origin_Color==BLACK) RBTree_DELETE_FIXUP(x);
}
void RBTree::RBTree_DELETE_FIXUP(RBTreeNode* x){
    //由于x的原父亲是黑色，那么现在始终牢记x.color==RED表明x是个红黑节点，x.color==BLACK表明x是个双重黑色节点
    while(x!=root&&x-&gt;color==BLACK){
        if(x==x-&gt;parent-&gt;left){
            auto w=x-&gt;parent-&gt;right;
            if(w-&gt;color==RED){
                cout&lt;&lt;"case 1:";
                //这暗含了w有两个孩子，且都为BLACK
                //那么我们可以对更小的范围进行调整
                x-&gt;parent-&gt;color=RED;
                w-&gt;color=BLACK;
                left_Rotate(x-&gt;parent);
                w=x-&gt;parent-&gt;right;
            }//w.color==BLACK
            if(w-&gt;left-&gt;color==BLACK&&w-&gt;right-&gt;color==BLACK){
                cout&lt;&lt;"case 2";
                //那么w可以染成RED,这相当于给x和w同时减一层黑色。太巧妙了
                w-&gt;color=RED;
            }else{
                if(w-&gt;right-&gt;color==BLACK){
                    cout&lt;&lt;"case 3:";
                    w-&gt;color=RED;
                    w-&gt;left-&gt;color=BLACK;
                    right_Rotate(w);
                    //即便这是个nil也可以设置
                    w=x-&gt;parent-&gt;right;
                }
                cout&lt;&lt;"case 4:";
                //此时x-&gt;parent的颜色，和w-&gt;left的颜色无所谓
                w-&gt;color=x-&gt;parent-&gt;color;
                x-&gt;parent-&gt;color=BLACK;
                w-&gt;right-&gt;color=BLACK;
                left_Rotate(x-&gt;parent);
                x=root;
            }
        }else{
            //x==x-&gt;parent-&gt;right
            auto w=x-&gt;parent-&gt;left;
            if(w-&gt;color==RED){
                cout&lt;&lt;"case 1:";
                //这暗含了w有两个孩子，且都为BLACK
                //那么我们可以对更小的范围进行调整
                x-&gt;parent-&gt;color=RED;
                w-&gt;color=BLACK;
                right_Rotate(x-&gt;parent);
                w=x-&gt;parent-&gt;left;
            }//w.color==BLACK
            if(w-&gt;left-&gt;color==BLACK&&w-&gt;right-&gt;color==BLACK){
                cout&lt;&lt;"case 2";
                //那么w可以染成RED,这相当于给x和w同时减一层黑色。太巧妙了
                w-&gt;color=RED;
            }else{
                if(w-&gt;left-&gt;color==BLACK){
                    cout&lt;&lt;"case 3:";
                    w-&gt;color=RED;
                    w-&gt;right-&gt;color=BLACK;
                    left_Rotate(w);
                    //即便这是个nil也可以设置
                    w=x-&gt;parent-&gt;left;
                }
                cout&lt;&lt;"case 4:";
                //此时x-&gt;parent的颜色，和w-&gt;left的颜色无所谓
                w-&gt;color=x-&gt;parent-&gt;color;
                x-&gt;parent-&gt;color=BLACK;
                w-&gt;left-&gt;color=BLACK;
                right_Rotate(x-&gt;parent);
                x=root;
            }
        }
    }
    x-&gt;color=BLACK;
}