{% extends "dashboard.html" %}

{% block page_header %}
    <div class="page-header">
        <h1 class="text-justify" style="font-weight: bold">{{ article.title }}</h1>
{#        <i class="glyphicon glyphicon-eye-open"></i>0#}
{#        <i class="glyphicon glyphicon-star"></i>11#}
{#        <i class="glyphicon glyphicon-comment"></i>#}
    </div>
{% endblock %}

{% block mainbody %}
    {% block article_content %}
        <div class="row">
            <div class="col-lg-10">
            <blockquote>
                <p>{{ article.content|safe }}</p>
            </blockquote>
                <div>
                    <i class="glyphicon glyphicon-user"></i>{{ article.author.username }}
                    <cite>创建于{{ article.create_date }}</cite>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="row">
                    <a class="btn btn-block btn-primary pull-right" href="../edit_article/{{ article.id }}">
                    <i class="glyphicon glyphicon-edit"></i> 编辑笔记
                    </a>
                </div>
                <div class="row">
                     <a class="btn btn-block btn-default" href="{{ url_for('.dashboard') }}">
                    <i class="glyphicon glyphicon-step-backward"></i> 返回我的笔记主页
                </a>
                </div>

            </div>
        </div>
        <!--评论区-->
            <div class="page-header">
                <h2 id="comment">评论</h2>
            </div>

        <div class="row">
            <div class="col-md-1">
                {% if current_user.is_authenticated %}
                <img class="img-responsive img-rounded" src="{{ current_user.gravatar(size=256) }}">
                {% endif %}
            </div>
            <div class="col-lg-10">
                <textarea rows="5" class="form-control"></textarea>
            </div>
            <div class="col-lg-1">
                <a href="#" class="btn btn-block btn-info ">评论</a>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12" >
                <div class="pull-right">
{#                    <a href="#" class="btn btn-info">评论</a>#}
                </div>
            </div>
        </div>
    {% endblock %}
{% endblock %}