<ul class="media-list">
    {% for post in posts %}
        <li class="media">
            <div style="padding: 10px 15px">
                <div class="pull-left" href="#">
                    <a href="{{ url_for('main._user',user_id=post.author.id) }}">
                        <img rel="popover" title="{{  post.author.username }}" data-content="Just test"
                         class="img-rounded profile-thumbnail" src="{{ post.author.gravatar(size=40) }}">
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">
                        <a class="text-info" href="{{ url_for('main._user',user_id=post.author.id) }}"
                           data-toggle="tooltip" title="前往{{ post.author.username }}主页"
                            data-container="body">
                            {{ post.author.username }}
                        </a>
                    </h4>
                    <div class="pull-right"><cite>{{ moment(post.timestamp).fromNow() }}</cite></div>
                    <div  data-toggle="tooltip" data-displacement="right"   +title="点击查看留言详情" onclick="window.location.href='{{ url_for('main.post',post_id=post.id) }}'" >
                        <p>
                            {{ post.body }}
                        </p>
                    </div>
                    <div class="pull-right">
                        <a href="{{ url_for('main.post',post_id=post.id) }}#Comments" style="padding: 5px;text-decoration: none">
                            <span class="label label-primary">
                                {{ post.comments.count() }} 评论
                            </span>
                        </a>
    {#                    <a href="{{ url_for('main.edit_post',post_id=post.id) }}" style="text-decoration: none">#}
    {#                        <span class="label label-warning">编辑</span>#}
    {#                    </a>#}
                        {% if current_user.can(Permission.MODERATE_COMMENTS) %}
                        <a href="{{ url_for('main.delete_post',post_id=post.id) }}">
                            <span class="label label-danger">删除</span>
                        </a>
                        {% endif %}
                    </div>
                </div>
            </div>
{#            <div style="padding: 5px 5px"></div>#}
        </li>
    {% endfor %}
</ul>
