{#<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">#}
{#<link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">#}
{#<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>#}
<script src="https://kit.fontawesome.com/a076d05399.js"></script>
<link type="text/css" rel="stylesheet" href="/static/css/footer.css">
<link type="text/css" rel="stylesheet" href="/static/css/my_css.css">
<link type="text/css" rel="stylesheet" href="/static/css/flash.css">
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<link type="text/css" rel="stylesheet" href="/static/css/navbar.css">


